/* grobal design setup */
*{
    margin: 0;
    padding: 0;
}

button:hover {
    cursor: pointer;
}
/* header design */
header{
    margin: 0;
    padding: 38.5px 148px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header button{
    padding: 15px 24px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    border-color: #3D424D;
    border-width: 1.5px;
    color: #3D424D;
    background-color: white;
}

/* font style setup */
.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}
/* hero section design */
.hero-section-bg-image{
    background-image: url("../assets/Hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-content: center;
}

.hero-section-contener{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 26px 225px;
}

.hero-section-title{
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    line-height: 70px;
    margin-bottom: 24px;
    color: #0D1321;
}

.description{
    text-align: center;
    margin: 0px 73px 32px;
    color: #545862;
}

.hero-section-button{
    background-color: #0D1321;
    color: white;
    padding: 21px 24px;
    border-radius: 8px;
    font-size: 20px;
}


/* facility-section design */

.facility-section{
    margin: 74px 148px;
    padding: 80px 97px;
    background-color: #FAFAFB;
    border-radius: 16px;
}

.title{
    text-align: center;
    margin-bottom: 24px;
}

.facility-contener{
    display: flex;
    border-radius: 16px;
    align-items: center;
}

.facility-contener-title{
    color: #0D1321;
    margin-bottom: 20px;
}

.facility-contener-description{
    color: #545862;
    margin-bottom: 20px;
}

.facility-contener{
    padding: 30px 80px;
    margin: 32px 0px;
}

.facility-contener-text{
    padding-right: 100px;
}

.facility-contener-title{
    color: #555963;
    margin-bottom: 25px;
}

.facility-section-button{
    background-color: white;
    color: #555963;
    font-weight: 550;
    padding: 10px 24px;
    font-size: 20px;
    border-width: 1px;
}
/* inspiration section design*/
.sub-hading-section{
    margin: 74px 148px;
}

.sub-hading-contener{
    padding: 10px 97px;
}

.video-contener{
    border-color: #CFD0D3;
    padding: 32px;
    border-radius: 16px;
    border-style: solid;
    border-width: 1px;
}

iframe{
    border-radius: 16px;
}

/* targer contener design */
.card-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    gap: 24px;
    
}

.card-description{
    color:#545862;
    margin-bottom: 20px;
}

.card {
    border-radius: 10px;
    padding: 40px;
    width: 300;
}

.card-link{
    color: #0D1321;
    text-decoration-line: underline;
    text-decoration-style: solid;
    font-weight: bold;
}

.icon img{
    margin-bottom: 15px;
}

.card-heading{
    font-size: 24px;
    margin: 10px 0;
}

.html {
    background-color: rgba(255, 76, 30, 0.05);
}

.css {
    background-color: rgba(0, 76, 232, 0.05);
}

.js {
    background-color: rgba(255, 223, 0, 0.05);
}

/* feedback section design */

.feedback-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/handshake.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    background-color: #0D1321;
    text-align: center;
    color: white;
    padding: 64px 205px;
    margin-top: 5px;
}

.feedback-section h1{
    margin-bottom: 24px;
}

.feedback-button{
    padding: 17px 20px;
    border-radius: 8px;
    border-style: none;
    font-size: 16px;
    font-weight: 600;
}

.feedback-input{
    padding: 19px 20px;
    border-radius: 8px;
    border-style: none;
    width: 500px;
    margin-top: 24px;
    font-size: 16px;
}

/* footer section design */

footer{
    margin: 0;
    padding: 38.5px 148px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F7F8F8; 
}

/* others design */

.target-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

.single-target-card {
    background-color: white;
    border-radius: 8px;
    border-style: solid;
    border-color: #DBDCDE;
    border-width: 1px;
    display: flex;
    margin: 10px 0;
    padding: 40px;
    margin: 24px 130px;
}

.card-icon {
    margin-right: 40px;
}

.card-content {
    flex: 1;
}

.card-content h2 {
    margin: 0 0 10px;
    font-size: 24px;
}

.card-content p {
    margin: 0 0 20px;
    color: #666;
}


.learn-more {
    color: #0D1321;
    text-decoration-line: underline;
    text-decoration-style: solid;
    font-weight: bold;
}
